# Google Translate API
# Получите ключ на https://console.cloud.google.com/apis/credentials
REACT_APP_GOOGLE_TRANSLATE_API_KEY=your_google_translate_api_key_here

# Yandex Translate API
# Получите ключ на https://translate.yandex.com/developers
REACT_APP_YANDEX_TRANSLATE_API_KEY=your_yandex_translate_api_key_here
